modules = ["nodejs-20", "python-3.11", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = ["cargo", "freetype", "glibcLocales", "libiconv", "rustc"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Run Backend"

[[workflows.workflow]]
name = "Run Backend"
author = 41538878
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 backend/main.py"

[[workflows.workflow]]
name = "Run Backend and Frontend"
author = 41538878
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 backend/main.py"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 8080
externalPort = 80
